<p id="notice"><%= notice %></p>

<p>
  <b>Artist name:</b>
  <%= @artist.artist_name %>
</p>
albums:
<ul>
<% @albums.each do |album| %>
  <li><%= album.album_name %></li>
<% end %>
</ul>


<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
