<p id="notice"><%= notice %></p>

<p>
  <b>Song name:</b>
  <%= @song.song_name %>
</p>
<p>
  <b>Favorite:</b>
  <%= @song.favorite %>
</p>

<p>
  <b>Album:</b>
  <%= @album.album_name %>
</p>


<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
